---
import { combinedFrameworksPokemonArray } from '../../data/data';

import Quiz from '../components/Quiz';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Framework Or Pokemon?</title>
	</head>
	<body class="bg-gradient-to-r from-blue-800 to-blue-950">
		<div class="flex flex-col items-center justify-center text-center p-4">
			<h1 class="text-4xl text-gray-200 font-bold mb-3">Framework Or Pokemon?</h1>
			<h2 class="text-xl text-gray-200 font-bold mt-5">Is the below a programming framework or a Pokemon?</h1>
		</div>
		<Quiz data={combinedFrameworksPokemonArray} client:load />
	</body>
</html>
