---
import { getAllItems } from '../../db/models';
import Quiz from '../components/Quiz';

const data = await getAllItems();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Framework Or Pokemon?</title>
	</head>
	<body class="bg-gradient-to-r from-blue-800 to-blue-950">
		<main id="container-main" class="flex flex-col items-center justify-center text-black">
      <div id="container-inner" class="container flex flex-col items-center justify-center text-center gap-4 px-4 pt-4 pb-4">
				<img src="/images/fptitle.png" alt="Framework Or Pokemon?" />
				<h2 class="text-xl text-gray-200 font-bold mt-2">Is this a programming framework or a Pokemon?</h1>
			</div>
			<Quiz data={data} client:load />
		</main>
	</body>
</html>
